@model IEnumerable<Cinema.Models.FilmViewModel>

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<p>
    <a asp-controller="Film"  asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>  
        <tr>
            <th>
                @Html.ActionLink("Title","Index", new { sortOrder = ViewBag.TitleSort } )
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort })
            </th>
            <th>
                @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSort })
            </th>
            <th>
                @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSort })
            </th>
            <th>
                @Html.ActionLink("Runtime(mins)", "Index", new { sortOrder = ViewBag.RuntimeSort })
            </th>
            <th></th>
        </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.FilmId"> @Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Runtime)
                    </td> @*
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FilmId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.FilmId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.FilmId">Delete</a>
                    </td>  *@
                </tr>
                }
            </tbody>
        </table>
